{% extends 'layouts/base.html.twig' %}

{% block title "New Category"  %}
{% block body %}
        <div class="row">
                <div class="col-md-6 mx-auto">
                        <h1>Create Category</h1>
                        {{ include('category/_form.html.twig', { submitButtonText:'Create Category' }) }}
                </div>
        </div>
{% endblock %}